VITE_SUPABASE_URL=https://chotldwdxrbzovmmtnsh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNob3RsZHdkeHJiem92bW10bnNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNzUzMzIsImV4cCI6MjA5Mzc1MTMzMn0.EME9M9cSy9FvfHvcx2gMPkp1H5Dj4YaKufPRsAyon8Tf
